Flow2/Flow2.json
[
    {
        "id": "e3bed8355b4da57b",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d485ea2f7805ba6",
        "type": "inject",
        "z": "e3bed8355b4da57b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Topic de Ejemplo",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "e4f5430752bb86a6"
            ]
        ]
    },
    {
        "id": "302a0f7585bd0c58",
        "type": "debug",
        "z": "e3bed8355b4da57b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "f097ddcd21087eaf",
        "type": "comment",
        "z": "e3bed8355b4da57b",
        "name": "",
        "info": "Aprendiendo Node-JS\nEste es mi programa tipo \"Hola Mundo\"\nHasta ahora se me hace interesante lo mostrado",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "e4f5430752bb86a6",
        "type": "function",
        "z": "e3bed8355b4da57b",
        "name": "",
        "func": "// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 80,
        "wires": [
            [
                "3ac980a3a4294389",
                "302a0f7585bd0c58"
            ]
        ]
    },
    {
        "id": "3ac980a3a4294389",
        "type": "ui_text",
        "z": "e3bed8355b4da57b",
        "group": "2e162851d564ac15",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "La hora es",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "2e162851d564ac15",
        "type": "ui_group",
        "name": "Hora",
        "tab": "4f2f1e36f74a3a1b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f2f1e36f74a3a1b",
        "type": "ui_tab",
        "name": "Hora",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
